In [1]:
from sklearn.model_selection import train_test_split

from sklearn.tree import  DecisionTreeClassifier

from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

from sklearn.preprocessing import KBinsDiscretizer
from sklearn.compose import ColumnTransformer

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('train.csv', usecols=['Age','Fare','Parch','SibSp','Survived'])

In [4]:
df.dropna(inplace=True)

In [5]:

df.sample(5)

     Survived   Age  SibSp  Parch      Fare
318         1  31.0      0      2  164.8667
723         0  50.0      0      0   13.0000
127         1  24.0      0      0    7.1417
86          0  16.0      1      3   34.3750
710         1  24.0      0      0   49.5042

In [6]:

df['family']=df['SibSp']+df['Parch']

In [7]:
df.drop(columns=['SibSp','Parch'],inplace=True)

In [8]:
df.head()

   Survived   Age     Fare  family
0         0  22.0   7.2500       1
1         1  38.0  71.2833       1
2         1  26.0   7.9250       0
3         1  35.0  53.1000       1
4         0  35.0   8.0500       0

In [9]:
X=df.iloc[:,1:]
Y=df.iloc[:,0]

In [10]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,train_size=0.3,random_state=0)

In [11]:
X_train.head()

      Age    Fare  family
788   1.0  20.575       3
465  38.0   7.050       0
210  24.0   7.050       0
434  50.0  55.900       1
472  33.0  27.750       3

In [12]:
clf=DecisionTreeClassifier()
clf.fit(X_train,Y_train)
y_pred=clf.predict(X_test)
accuracy_score(Y_test,y_pred)

0.66

In [13]:
np.mean(cross_val_score(DecisionTreeClassifier(),X,Y,scoring='accuracy'))

0.6554614399684823

In [14]:
from sklearn.preprocessing import Binarizer

In [15]:
trf=ColumnTransformer([
    ('bin',Binarizer(copy=False),['family'])
],remainder='passthrough')

In [16]:
X_train_trf=trf.fit_transform(X_train)
X_test_trf=trf.transform(X_test)

In [20]:
pd.DataFrame(X_train_trf,columns=['family','Age','Fare'])

     family   Age      Fare
0       1.0   1.0   20.5750
1       0.0  38.0    7.0500
2       0.0  24.0    7.0500
3       1.0  50.0   55.9000
4       1.0  33.0   27.7500
..      ...   ...       ...
209     0.0  28.0   10.5000
210     0.0  19.0   10.5000
211     0.0  46.0   79.2000
212     1.0  26.0    7.8542
213     1.0  45.0  164.8667

[214 rows x 3 columns]

In [21]:
clf=DecisionTreeClassifier()
clf.fit(X_train_trf,Y_train)
y_pred=clf.predict(X_test_trf)
accuracy_score(Y_test,y_pred)

0.632

In [22]:
X_trf=trf.fit_transform(X)
np.mean(cross_val_score(DecisionTreeClassifier(),X_trf,Y,scoring='accuracy'))

0.6288584654781838